<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userConfigBean" class="springboot_lovepreetsingh.spring.boot.Bean.UserConfig">
        <property name="name" value="Shubham kamble"/>
        <property name="className" value="Engineering"/>
    </bean>

    <bean id="userService" class="springboot_lovepreetsingh.spring.boot.service.UserService">
        <constructor-arg ref="userConfigBean"/>

    </bean>
    <bean id="orderService" class="springboot_lovepreetsingh.spring.boot.service.OrderService" factory-method="createInstance">

        <constructor-arg ref="userService"/>
        <constructor-arg ref="userConfigBean"/>
    </bean>


</beans>